<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Divertissement.Web</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />  
        <link rel="icon" href="~/lib/Images/logo.ico"/>   
    </head>
    <body class=bodyTheme2>
        <header>
            <nav class="customNavbar">
                <div class="navbarDisposition">
                    <div>                        
                        <a class="navbar-brand titleApp" asp-controller="Logged" asp-action="PersonnalSpace">
                            <img src="~/lib/Images/logo.png" id="navBarLogo"/>
                            <span>&lsaquo;AskMeAQuestion&rsaquo;</span>
                        </a>
                    </div>
                    <div class="groupeNavbar">
                        <span class="itemGroupNavbar">@Model.UserName</span>
                        <span class="itemGroupNavbar"><a class="linkNavbar" href="~/home/Logout">Se déconnecter</a></span>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
