@{
    ViewData["Title"] = "Home Page";
}

<div id="presentationForm">
    <div class="text-center">
        <h2>Bienvenue sur</h2>        
        <h1 class="display-4">&lsaquo;AskMeAQuestion&rsaquo;</h1>
        <img src="~/lib/Images/logo.png" id="logoConnectionPage"/>
        <hr id="hrStyle"/>
    </div>
    <div class="text-center">
        <a href="~/Logged/PersonnalSpace" id="colorButton" class="btn btn-primary">Connexion</a>
        <a href="~/Home/Subscription" id="colorButton" class="btn btn-primary">Inscription</a>
    </div>
</div> 